
/* These rules are applied to elements with these tags */

input, textarea, select {
    padding: 10px;
    font-size: 20px;
}

input, textarea, select, label {
    display: block;
}

input, textarea, select {
    margin: 5px;
    margin-bottom: 20px;
    width: 100%;
}

input[type=submit] {
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.container {
    display: block;
}

#diary {
    margin-top: 20px;
    border: 10px solid bisque;
    background: white;
    border-radius: 0.3em;
    padding: 10px 30px;
    max-width: 600px;
}

